<div data-section-id="{{ section.id }}" data-section-type="lookbook-section" class="lookbook">
  {% if section.settings.display_lb_slideshow %}
  <div class="lookbook_page">
    <div class="single-item" data-slick='{
      dots: true,
      slidesToScroll: 1,
      autoplay:true,
      fade: {{ section.settings.slideshow_transition }},
      autoplaySpeed:{{ section.settings.slideshow_speed }}   
	  }'>
      {% for block in section.blocks %}
      <div class="slick-list">
        {% if block.settings.lb_slideshow != blank %}
        <a href="{{ block.settings.lb_image_link }}" >
        <img src="{{ block.settings.lb_slideshow | img_url : "2000x" }}"  data-url="{{ block.settings.lb_image_link }}" class="slide-img" alt="{{ block.settings.image.alt }}"/>
        </a>
        {% else %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="slide-des-contents"
             style="
                          {% if block.settings.lb_slideshow_align == 'left' %}
                          left:10%;
                           right: initial;
                           {% endif %}
                          {% if block.settings.lb_slideshow_align == 'right' %}
                          right:10%;
                           left:initial;
                           {% endif %}
                          ">
            {% if block.settings.lb_text_sample != blank %}
              <p class="text-sample" style="
                                               {% if block.setting.slb_text_sample_size != blank %} 
                                               font-size: {{ block.settings.lb_text_sample_size }}px;
                                               {% endif %}
                                               {% if block.settings.lb_text_sample_color != blank %} 
                                               color: {{ block.settings.lb_text_sample_color }};{% endif %}">
                {% if settings.enable_multilang %}
                <span class="lang1">{{ block.settings.lb_text_sample | split: '|' | first }}</span>
                <span class="lang2">{{ block.settings.lb_text_sample | split: '|' | last }}</span>
                {% else %}
                <span>{{ block.settings.lb_text_sample | split: '|' | first }}</span>              
                {% endif %}
              </p>
              {% endif %}

              {% if block.settings.title != blank %}
              <h2 class="slide-heading" style="
                                               {% if block.settings.lb_slide_heading_size != blank %} 
                                               font-size: {{ block.settings.lb_slide_heading_size }}px;
                                               {% endif %}
                                               {% if block.settings.lb_slide_heading_color != blank %} 
                                               color: {{ block.settings.lb_slide_heading_color }};
                                               {% endif %}">
                {% if settings.enable_multilang %}
                <span class="lang1">{{ block.settings.title | split: '|' | first }}</span>
                <span class="lang2">{{ block.settings.title | split: '|' | last }}</span>
                {% else %}
                <span>{{ block.settings.title | split: '|' | first }}</span>              
                {% endif %}
                <p class="line" 
                     style="{% if block.settings.lb_slide_heading_color != blank %}
                            background-color: {{ block.settings.lb_slide_heading_color }};
                            {% endif %}
                            ">&nbsp;</p>
              </h2>
              {% endif %}

              {% if block.settings.lb_slide_text != blank %}
              <p class="slide-text" style="
                                           {% if block.settings.lb_slide_text_size != blank %} 
                                           font-size: {{ block.settings.lb_slide_text_size }}px;
                                           {% endif %}
                                           {% if block.settings.lb_slide_text_color != blank %} 
                                           color: {{ block.settings.lb_slide_text_color }};
                                           {% endif %}"
                 >
                {% if settings.enable_multilang %}
                <span class="lang1">{{ block.settings.lb_slide_text | split: '|' | first }}</span>
                <span class="lang2">{{ block.settings.lb_slide_text | split: '|' | last }}</span>
                {% else %}
                <span>{{ block.settings.lb_slide_text | split: '|' | first }}</span>              
                {% endif %}
              </p>
              {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  {% endif %}

  {% if settings.display_product_detail_share %}
  <div class="footer-top">
    <div class="share_toolbox">
      <ul class="">
        {% if settings.social_title_1 != blank %}
        <li><a href="{{ settings.social_link_1 }}?subject={{product.title}}&body={{canonical_url}}" target="_blank" title="{{ settings.social_title_1 }}">{{ 'social_icon_1.png' | asset_url | img_tag }}</a></li>
        {% endif %}
        {% if settings.social_title_2 != blank %}
        <li><a href="{{ settings.social_link_2 }}{{ canonical_url }}&p[images][0]={{featured_image}}" target="_blank" title="{{ settings.social_title_2 }}">{{ 'social_icon_2.png' | asset_url | img_tag }}</a></li>
        {% endif %}
        {% if settings.social_title_3 != blank %}
        <li><a href="{{ settings.social_link_3 }}{{ canonical_url }}" target="_blank" title="{{ settings.social_title_3 }}">{{ 'social_icon_3.png' | asset_url | img_tag }}</a></li>
        {% endif %}
        {% if settings.social_title_4 != blank %}
        <li><a href="{{ settings.social_link_4 }}{{ canonical_url }}&media=http:{{ featured_image | img_url: 'grande' }}&description={{product.title}}" target="_blank" title="{{ settings.social_title_4 }}">{{ 'social_icon_4.png' | asset_url | img_tag }}</a></li>
        {% endif %}
        {% if settings.social_title_5 != blank %}
        <li><a href="{{ settings.social_link_5 }}{{ canonical_url }}" target="_blank" title="{{ settings.social_title_5 }}">{{ 'social_icon_5.png' | asset_url | img_tag }}</a></li>
        {% endif %}
      </ul>
    	</div>
    </div>
  {% endif %}

  {% if section.settings.display_lb_button %}
    <p class="bottom">
      <a href="{{ section.settings.lb_button_link }}" class="btn">
        {% if section.settings.enable_multilang %}
        <span class="lang1">{{ section.settings.lb_button_text | split: '|' | first }}</span>
        <span class="lang2">{{ section.settings.lb_button_text | split: '|' | last }}</span>
        {% else %}
        <span>{{ section.settings.lb_button_text | split: '|' | first }}</span>  
        {% endif %}
      </a>
    </p>
 {% endif %}
</div>
{% schema %}
  {
    "name": "Lookbook",
	 "max_blocks": 10,
    "settings": [
	  {
        "type": "header",
        "content": "Lookbook Slideshow"
      },
      {
        "type": "paragraph",
        "content": "IMPORTANT: For best results, upload images that are at least 1880px wide. Try to keep your slideshow images the same size."
      },
      {
        "type": "checkbox",
        "id": "display_lb_slideshow",
        "label": "Enable slideshow?",
        "default": true
      },
      {
        "type": "select",
        "id": "lb_slideshow_speed",
        "label": "Show slideshow images for",
        "options": [
		 {
            "value": "10000",
            "label": "10 seconds"
          },
		  {
            "value": "9000",
            "label": "9 seconds"
          },
          {
            "value": "8000",
            "label": "8 seconds"
          },
          {
            "value": "7000",
            "label": "7 seconds"
          },
          {
            "value": "6000",
            "label": "6 seconds"
          },
          {
            "value": "5000",
            "label": "5 seconds"
          },
          {
            "value": "4000",
            "label": "4 seconds"
          },
          {
            "value": "3000",
            "label": "3 seconds"
          },
          {
            "value": "2000",
            "label": "2 seconds"
          },
          {
            "value": "1000",
            "label": "1 seconds"
          }
        ],
        "default": "5000"
      },
      {
        "type": "select",
        "id": "lb_slideshow_transition",
        "label": "Slideshow transition effect:",
        "options": [
          {
            "value": "false",
            "label": "Slide"
          },
          {
            "value": "true",
            "label": "Fade"
          }
        ],
        "default": "true"
      },
      {
        "type": "color",
        "id": "lb_navigation_color",
        "label": "Navigation color",
        "default": "#fff",
        "info": "Default Value: #fff"
      },
		{
        "type": "checkbox",
        "id": "display_lb_button",
        "label": "Enable Button?",
        "default": true
      },
      {
        "type" : "text",
        "id" : "lb_button_text",
        "label" : "Button text",
        "default" : "Shop LookBook"
      },
      {		
        "type": "url",
        "id": "lb_button_link",
        "label": "Button link"
      }
	],
	"blocks" :[
	  {
        "type": "image",
        "name": "Banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "lb_slideshow",
            "label": "Slideshow Image"
          },
          {
            "type": "url",
            "id": "lb_image_link",
            "label": "URL for Image click"
          },
          {
            "type": "select",
            "id": "lb_slideshow_align",
            "label": "Slideshow text align",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          },
          {
            "type": "text",
            "id": "lb_text_sample",
            "label": "Text Sample for Image",
            "default": "The"
          },
          {
            "type": "color",
            "id": "lb_text_sample_color",
            "label": "Text Sample color for Image",
            "default": "#000",
            "info": "Default Value: #000"
          },
          {
            "type": "text",
            "id": "lb_text_sample_size",
            "label": "Text Sample size for Image",
            "default": "13",
            "info": "Default Value: 40"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading for Image",
            "default": "Cosmopolis"
          },
          {
            "type": "color",
            "id": "lb_slide_heading_color",
            "label": "Heading color for Image",
            "default": "#000",
            "info": "Default Value: #000"
          },
          {
            "type": "text",
            "id": "lb_slide_heading_size",
            "label": "Heading size for Image",
            "default": "40",
            "info": "Default Value: 40"
          },
          {
            "type": "text",
            "id": "lb_slide_text",
            "label": "Text for Image",
            "default": "Aenean pulvinar vulputate enim et tempus"
          },
          {
            "type": "color",
            "id": "lb_slide_text_color",
            "label": "Text color for Image",
            "default": "#000",
            "info": "Default Value: #000"
          },
          {
            "type": "text",
            "id": "lb_slide_text_size",
            "label": "Text size for Image",
            "default": "14",
            "info": "Default Value: 14"
          }
        ]
	  }
	]
  }
{% endschema %}
<style>
 .lookbook_page .slick-arrow:before{ color: {{ section.settings.lb_navigation_color }}; }
</style>
<script>
$(document).on('ready', function() {
  $('.single-item').slick({
   dots: true,
   slidesToScroll: 1,
     autoplay:true,
    fade: {{ section.settings.lb_slideshow_transition }},
    infinite: true,
   autoplaySpeed:{{ section.settings.lb_slideshow_speed}}
  
   });
})
</script>
{% javascript %}
function process_slick_event(evt) {
  var _slick = $( "#" +evt.target.id + " .lookbook_page .single-item");
  if( _slick.length )
  {
    switch ( evt.originalEvent.type ) {
      case "shopify:section:load" : 
        console.log('Load ' + _slick.attr("id"));
        _slick.slick (
            {
              dots: true,
     		 slidesToScroll: 1,
      		 
              autoplay: _slick.data('slick').autoplay,
              autoplaySpeed: _slick.data('slick').autoplaySpeed
            }
          );
      break; 
      case "shopify:section:unload" :
        console.log('Unload ' + _slick.attr("id"));
        _slick.slick('unslick');
      break;

     } 
  }
}
    
$(document)
 .on( 'shopify:section:load', process_slick_event )
 .on( 'shopify:section:unload', process_slick_event )
;

{% endjavascript %}