{% if section.settings.display_recently_viewed_products %} 
{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}

<section class="recently-viewed-products">
  {% if section.settings.recently_viewed_products_title != '' %}
  <h2>{% include 'multilang' with section.settings.recently_viewed_products_title %}</h2>
  {% endif %}
  <div class="products-grid row owl-carousel" id="recently-viewed-products-grid">
  </div>
</section>

  {% if settings.enable_multilang %}
  <script>
    function splitTitle(title) {
      if (title.indexOf("|") < 0) 
        return title;
      var titleArr = title.split("|");
      return titleArr[translator.current_lang - 1];
    }
  </script>
  {% endif %}

  {% raw %}
  <script id="recently-viewed-product-grid-template" type="text/x-jquery-tmpl">
  {% endraw %}
  <div class="{% if settings.product_image_border %}grid-item-border {% endif %}{% if settings.product_image_crop%}crop_image {% else %}no_crop_image {% endif %}grid-item {% raw %}{{if !available}}sold-out {{/if}}{{if compare_at_price_min > price_min}}on-sale{{/if}}">
    <div class="product-item" id="product-${id}">
      <div class="product-top">
      <div class="product-image">
        <a href="${url}" class="product-grid-image">
          <img src="${Shopify.Products.resizeImage(featured_image, "large")}" alt="${featured_image.alt}"/>
        </a>
        <div class="product-label">
          {{if compare_at_price_min > price_min}} 
            <div class="label"><span  {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.sale"{% endif %} >{{ 'products.product.sale' | t }}</span>{% raw %}</div>
          {{/if}}
          {{if !available}}
            <div class="sold-out-label"><span {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>{{ 'products.product.sold_out' | t }}</span>{% raw %}</div>
          {{/if}}
        </div>
      </div>
      
      <div class="product-des">
        <div class="action">
          <form action="/cart/add" method="post" class="variants" id="product-actions-${id}" enctype="multipart/form-data" style="padding:0px;">    
            {{if !available}}
            <button class="btn add-to-cart-btn" type="submit" disabled="disabled"><span {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>{{ 'products.product.sold_out' | t }}{% raw %}</span></button>
            {{else variants.length > 1 }}
            <button class="btn" type="button" onclick="window.location.href='${url}'"><span {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.select_options"{% endif %}>{{ 'products.product.select_options' | t }}{% raw %}</span></button>
            {{else}}
            <input type="hidden" name="id" value="${variants[0].id}" />      
            <button class="btn add-to-cart-btn" type="submit"><span {% endraw %}{% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %}>{{ 'products.product.add_to_cart' | t }}{% raw %}</span></button>
            {{/if}}
          </form>
        </div>
      </div>
      
      {% endraw %}
      {% comment %}
      {% if settings.enable_quick_view %}
      <div class="quickview-button">
        <a href="javascript:void(0)" {% raw %} id="${handle}" {% endraw %} title="{{ 'products.product.quick_view' | t }}" {% if settings.enable_multilang %}data-translate="products.product.quick_view" translate-item="title"{% endif %}><span {% if settings.enable_multilang %}data-translate="products.product.quick_view"{% endif %}>{{ 'products.product.quick_view' | t }}</span>{% raw %}</a>
      </div>
      {% endraw %}
      {% endif %}
      {% endcomment %}
      {% raw %}
    </div>

      <div class="product-bottom">
        {% endraw %}
        {% if settings.enable_multilang %}
        {% raw %}
          <a class="product-title" href="${url}">${splitTitle(title)}</a>
        {% endraw %}
        {% else %}
        {% raw %}
          <a class="product-title" href="${url}">${title}</a>
        {% endraw %}
        {% endif %}
        {% raw %}
        <span class="shopify-product-reviews-badge" data-id="${id}"></span>

      <div class="price-box">   
      {{if compare_at_price_min > price_min}} 
        <p class="sale">
          <span class="old-price"> {{html Shopify.formatMoney(compare_at_price_min, window.money_format)}}</span>
          <span class="special-price">{{if price_varies}}{% endraw %}{% include 'varies_from' %}{% raw %}{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
          </p>
      {{else}}
        <p class="regular-product">
          <span >{{if price_varies}}{% endraw %}{% include 'varies_from' %}{% raw %}{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
        </p>
      {{/if}}
    </div>
    
    </div>
  </div>
</div>
</script>
{% endraw %}

 <script>
  Shopify.Products.showRecentlyViewed({ 
    howManyToShow: {{ section.settings.number_of_recently_viewed_products }}, 
    wrapperId: 'recently-viewed-products-grid', 
    templateId: 'recently-viewed-product-grid-template',
    onComplete: function() {
    
    if (jQuery("#recently-viewed-products-grid").children().length > 0) {
    
  jQuery(".recently-viewed-products").show();
    
     initCarousel();
    
        if (window.product_image_resize) {
            jQuery('#recently-viewed-products-grid img').fakecrop({ 
              fill: window.images_size.is_crop,
              widthSelector: ".recently-viewed-products .products-grid .product-image",
              ratioWrapper: window.images_size
            });
        }

        if (window.show_multiple_currencies) {
           Currency.convertAll(window.shop_currency, jQuery('.currencies').val(), 'span.money', 'money_format');
        }
  

        {% if settings.enable_multilang %}
        if (translator.current_lang == 2)
          translator.doTranslate(".recently-viewed-products");
        {% endif %}
     
     var interval;
     var isScriptAdded = false;
    
        function initCarousel() {
          
           var recentlyView = jQuery("#recently-viewed-products-grid");
           recentlyView.hide();
          
           clearInterval(interval);
          
           interval = setInterval(function() {

             if (!jQuery("#recently-viewed-products-grid").hasClass('owl-theme')) {
                  

                  if (!isScriptAdded) {
                   var head = document.getElementsByTagName('head').item(0);
                    var script = document.createElement('script');
                    script.setAttribute('data-script-added', 'owl.carousel.min.js');
                    script.setAttribute('src', '{{ 'owl.carousel.min.js' | asset_url }}');
                    head.appendChild(script);

                    isScriptAdded = true;
                  }
                  
                  
                  initCarousel();
               }
               else {
                 clearInterval(interval);
                   recentlyView.show();
                   $('[data-script-added]').remove();
                }
           }, 500);

          
            if (recentlyView.owlCarousel) {
              recentlyView.owlCarousel({
                autoPlay: 8000,     
                navigation : true,
       			items :5,
                itemsTablet: [1024,4],
                itemsTabletSmall: [768,4],
                itemsMobile : [767,2]
              });                     
            }

        }
    
        initCarousel();
     

        if (jQuery(".spr-badge").length>0) {
            return window.SPR.registerCallbacks(), window.SPR.initRatingHandler(), window.SPR.initDomEls(), window.SPR.loadProducts(), window.SPR.loadBadges();
        }      
      }    
    }
  });
  </script>

  {% if template contains 'product' %}
  <script>
    Shopify.Products.recordRecentlyViewed();
  </script>
  {% endif %}

{% endif %}

{% schema %}
  {
    "name": "Recently Viewed Products",
    "settings": [
      {
        "type": "checkbox",
        "id": "display_recently_viewed_products",
        "label": "Display Recently Viewed Products?",
        "default": true
      },
      {
        "type": "text",
        "id": "recently_viewed_products_title",
        "label": "Title of recently viewed products",
        "default": "Recently Viewed Products"
      },
      {
        "type": "text",
        "id": "number_of_recently_viewed_products",
        "label": "Number of recently viewed products",
        "default": "8"
      }
      
    ]
  }
{% endschema %}
