
  {% if section.blocks.size > 0 %}
    <div class="home-slideshow">
      <div class="variable-width" data-slick='{
      dots: false,
      slidesToScroll: 1,
      autoplay:true,
      fade: {{ section.settings.slideshow_transition }},
      autoplaySpeed:{{ section.settings.slideshow_speed }}
	  }'>
        {% for block in section.blocks %}
          <div class="slick-list slideshow__slide--{{ block.id }} {% if block.type == 'video' %}slide_video{% endif %} {% if block.type == 'video_mp4' %} slide_video_mp4{% endif %}">                
            {% if block.settings.image != blank %}
            <a href="{{ block.settings.link }}" class="link_img">
              {%- assign img_url = block.settings.image | img_url: '2000x' -%}
              <img src="{{ img_url }}" data-url="{{ block.settings.link }}" class="slide-img " alt="{{ block.settings.image.alt }}" />
              
              {% if block.settings.title != blank  %}
              <h2 class="slide-heading animated visible-xs"
                  style="{% if block.settings.heading_size != blank %}
                         font-size: {{ block.settings.heading_size }}px;
                         {% endif %}
                         {% if block.settings.heading_color != blank %}
                         color:{{ block.settings.heading_color }};
                         {% endif %}">
                {% include 'multilang' with block.settings.title  %}
              </h2>
              {% endif %}
            </a>
             {% else %}
              {% capture current %}{% cycle 1, 2 %}{% endcapture %}
              {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if block.type == 'video' %}
            
            <iframe width="100%" data-video-id="{{ block.settings.video_link }}" height="100%" src="https://www.youtube.com/embed/{{ block.settings.video_link }}?enablejsapi=1&rel=0&autoplay=0" frameborder="0" allowfullscreen="" volume="0"></iframe>
           
             {% if section.settings.auto_playvideo %}
    			<script>
                  $('.variable-width').on('afterChange', function(event, slick, currentSlide){

                    if ($(this).find('.slide_video.slick-active').length > 0) {
                        $(this).find('.slide_video.slick-active').find('iframe')[0].contentWindow.postMessage('{'+'"event":"command",'+'"func":"playVideo"'+',"args":""}','*');
                        $(this).slick('slickPause');
                    } else if (!$(this).find('.slick-active').hasClass('.slide_video')) {
                      $(this).find('.slide_video').find('iframe')[0].contentWindow.postMessage('{'+'"event":"command",'+'"func":"pauseVideo"'+',"args":""}','*');
                      $(this).slick('slickPlay');
                    }
                  });
            	</script>
              {% endif %}
            
            {% endif %}

            {% if block.type == 'video_mp4' %}
            <div class="fluid-width-video-wrapper" style="">
              <video autoplay loop class="video">
                <source type="video/mp4" src="{{block.settings.video_mp4_link}}">
              </video>
              <script>
                if ($(window).innerWidth() > 767) {
                  $('.variable-width').on('afterChange', function(event, slick, currentSlide){

                    if ($(this).find('.slide_video_mp4.slick-active').length > 0) {
                      $(this).find(".slide_video_mp4.slick-active .video").get(0).play();
                      $(this).slick('slickPause');
                    } else 
                      if (!$(this).find('.slick-active').hasClass('.slide_video_mp4')) {
                        //                   $(this).find('.slide_video_mp4').find('video')[0].contentWindow.postMessage('{'+'"event":"command",'+'"func":"pauseVideo"'+',"args":""}','*');
                        $(this).slick('slickPlay');
                      }
                  });
                }
                else{
                  $(".fluid-width-video-wrapper").click(function(){
                    $(".slide_video_mp4.slick-active .video").get(0).play();
                  });
                }
              </script>
              
              <style>
              .slideshow__slide--{{ block.id }} .slide_video_mp4 .fluid-width-video-wrapper:before{
                background:{{ block.settings.bg_video }};
                opacity: {{ block.settings.bg_overlay_opacity | divided_by: 100.00 }}
              }
              </style>
              
            </div>
            {% endif %}

            {% if block.settings.title != blank or block.settings.subheading != blank %}         
              <div class="slider-content" 
                   style="
                          {% if block.settings.alignment == 'left' %}
                           left:10%;
                           right: initial;
                           {% endif %}
                          {% if block.settings.alignment == 'right' %}
                           right:10%;
                           left: initial;
                           {% endif %}
                          ">
                <h2 class="slide-heading animated hidden-xs"
                    style="{% if block.settings.heading_size != blank %}
                           font-size: {{ block.settings.heading_size }}px;
                           {% endif %}
                           {% if block.settings.heading_color != blank %}
                           color:{{ block.settings.heading_color }};
                           {% endif %}">
                  {% include 'multilang' with block.settings.title  %}
                   <p class="line" 
                     style="{% if block.settings.heading_color != blank %}
                            background-color: {{ block.settings.heading_color }};
                            {% endif %}
                            ">&nbsp;</p>
                </h2>
                <p class="slide-text animated "
                   style="{% if block.settings.subheading_size != blank %}
                           font-size: {{ block.settings.subheading_size }}px;
                           {% endif %}
                           {% if block.settings.subheading_color != blank %}
                           color:{{ block.settings.subheading_color }};
                           {% endif %} ">
                  {% include 'multilang' with block.settings.subheading %}
                </p>
                
                <a href="{{ block.settings.link }}" class="slide-button animated btn ">
                    
                  {% include 'multilang' with block.settings.button %}
                  <span class="arrow">arrrow</span>
          		</a>
                
              </div>
            
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

<script>
  
var prodVideoId= $('iframe').data('video-id');
  $(document).on('ready', function() {
  $('.variable-width').fitVids().slick({ 
    dots: false,
    slidesToScroll: 1,
    autoplay:true,
    fade: {{ section.settings.slideshow_transition }},
    autoplaySpeed:{{ section.settings.slideshow_speed }},
    nextArrow: '<button type="button" class="slick-next">{% include 'icon_next' %}</button>',
    prevArrow: '<button type="button" class="slick-prev">{% include 'icon_pre' %}</button>',
    responsive : [
      {
        breakpoint: 767,
        settings : {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows : false,
    	    adaptiveHeight: true,
            dots: true
        }
      }
    ],                                     
    afterChange: function(slick, currentSlide){
    console.log(currentSlide);
  }
                                       
});   
  })
</script>

{% schema %}
  {
    "name": "Slideshow",
    "class": "index-section index-section--flush",
    "max_blocks": 10,
    "settings": [
      {
        "type": "select",
        "id": "slideshow_speed",
        "label": "Change slides every",
        "options": [
          { "value": "1000", "label": "1 seconds" },
          { "value": "2000", "label": "2 seconds" },
          { "value": "3000", "label": "3 seconds" },
          { "value": "4000", "label": "4 seconds" },
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "5000"
      },
      {
        "type": "select",
        "id": "slideshow_transition",
        "label": "Slideshow transition effect",
        "options": [
          {
            "value": "false",
            "label": "Slide"
          },
          {
            "value": "true",
            "label": "Fade"
          }
        ],
        "default": "true"
      },
	  {
            "type": "color",
            "id": "navigation_color",
            "label": "Navigation color",
            "default": "#fff",
       		"info": "Default Value: #fff"
       },
	  {
        "type": "paragraph",
        "content": "IMPORTANT: For best results, Upload image : 1880px x 720px recommended. Try to keep your slideshow images the same size."
      },
	  {
         "type": "text",
          "id": "video_height",
		  "label": "Slideshow Video Height",
          "default": "38.25%",
         "info": "You can adjust the height of video to be fit with slider image by %. Example: 30%, 47.25%, 51%."
     },
	{
        "type": "checkbox",
        "id": "auto_playvideo",
        "label": "Autoplay video",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
		  {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#000",
       		"info": "Default Value: #000"
          },
		  {
            "type": "text",
            "id": "heading_size",
            "label": "Heading Font Size",
            "default": "40",
        	"info": "Default Value: 40"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
			},
		  {
            "type": "color",
            "id": "subheading_color",
            "label": "SubHeading Color",
            "default": "#000",
       		"info": "Default Value: #000"
          },
          {
            "type": "text",
            "id": "subheading_size",
            "label": "SubHeading Font Size",
            "default": "12",
        	"info": "Default Value: 12"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Slide Button"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video Youtube slide",
        "settings": [
          {
            "type": "text",
            "id": "video_link",
			"label": "YouTube video ID",
            "default": "_9VUPq3SxOc",
             "info": "[Find your YouTube video ID](https://docs.joeworkman.net/rapidweaver/stacks/youtube/video-id)."
          }
        ]
      },
      {
        "type": "video_mp4",
        "name": "Video mp4 slide",
        "settings": [
          {
            "type": "text",
            "id": "video_mp4_link",
			"label": "Video link"
          },
		  {
			"type" : "color",
			"id" : "bg_video",
			"label" : "Background Color video",
			"default" : "#866965"
	      },
          {
            "type": "range",
            "id": "bg_overlay_opacity",
            "label":"Opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 40
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
		  {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#000",
       		"info": "Default Value: #000"
          },
		  {
            "type": "text",
            "id": "heading_size",
            "label": "Heading Font Size",
            "default": "40",
        	"info": "Default Value: 40"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
			},
		  {
            "type": "color",
            "id": "subheading_color",
            "label": "SubHeading Color",
            "default": "#000",
       		"info": "Default Value: #000"
          },
          {
            "type": "text",
            "id": "subheading_size",
            "label": "SubHeading Font Size",
            "default": "12",
        	"info": "Default Value: 12"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Slide Button"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Slideshow",
      "category": "Slideshow",
      "settings": {
        "slideshow_speed": "5000",
		"slideshow_transition": "false"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "video"
        }
      ]
    }]
  }
{% endschema %}
<style>
 .home-slideshow  .slick-arrow:before{ color: {{ section.settings.navigation_color }}; }
  .fluid-width-video-wrapper{padding-top:{{ section.settings.video_height }}!important;}
</style>

{% javascript %}
function process_slick_event(evt) {
  var _slick = $( "#" +evt.target.id + " .home-slideshow .variable-width");
  if( _slick.length )
  {
    switch ( evt.originalEvent.type ) {
      case "shopify:section:load" : 
        console.log('Load ' + _slick.attr("id"));
        _slick.slick (
            {
              dots: false,
     		  slidesToScroll: 1,
      		 
              autoplay: _slick.data('slick').autoplay,
              autoplaySpeed: _slick.data('slick').autoplaySpeed
            }
          );
      break; 
      case "shopify:section:unload" :
        console.log('Unload ' + _slick.attr("id"));
        _slick.slick('unslick');
      break;

     } 
  }
}
    
$(document)
 .on( 'shopify:section:load', process_slick_event )
 .on( 'shopify:section:unload', process_slick_event );

{% endjavascript %}